* {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Shrikhand', Cursive;
}

.main-bkg-img {
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 72px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}