<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <title>Picture This - your virtual vision board</title>

</head>

<body>
    <a href="/">Home</a>
    <a href="/my_board">My Board</a>
    <a href="/upload">Upload</a>
    <ul>
    {% for message in get_flashed_messages() %}
        <li class="text-success">{{ message }}</li>
    {% endfor %}
    </ul>

    {% block body %}
    <!-- see templates -->
    {% endblock %}

    <p>built by <a href="https://github.com/coriography">Cori</a></p>
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
        crossorigin="anonymous">
    </script>

</body>

</html>