{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>My Board</h1>
    {% if 'username' in session %}
        <p>WELCOME, {{session.username}}</p>
        <button class="btn btn-secondary">Log Out</button>

        {% if user_images %}
            <div class="row">
                {% for image in user_images %}
                    <div class="col-lg-4">
                        <img class="img-fluid" src="{{image.url}}" alt="">
                        <p>tag here</p>
                    </div>
                {% endfor %}
            </div>
        {% endif%}

    {% else %}
        <p>Please log in or create an account to see your board.</p>
    {% endif %}
</div>
    

{% endblock %}