{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>My Board</h1>
    {% if user %}
        <p>WELCOME, {{session.username}}</p>
        <div class="mb-4">
            <a class="btn btn-primary" href="/upload">Upload photos</a>
        </div>
            <div class="row">
                {% for image in user['images'] %}
                    <div class="col-lg-4">
                        <img class="img-fluid mb-2" src="{{image.url}}" alt="">
                        {% if image.tag %}
                        <button class="btn btn-secondary d-inline"><i class="{{image.tag.icon}} mr-2"></i>{{image.tag.name}}</button>
                        {% else %}
                        <p>no tag</p>
                        {% endif %}
                        {% if image.notes %}
                        <p class="small d-inline ml-2">Notes: {{image.notes}}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

    {% else %}
        <p>Please <a href="/log_in">log in</a> to access this page.</p>
    {% endif %}
</div>
    

{% endblock %}