{% extends 'base.html' %}

{% block body %}
<div class="container">

    {% if user %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="mb-4">
                <h1>My tags</h1>

                {% if user['tags'] %}
                    {% for tag in user['tags'] %}
                        <button class="btn btn-secondary" value="{{tag.tag_id}}">
                            <i class="{{tag.icon}} mr-2"></i> 
                            {{tag.name}}
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
            

            <form action="/api/add_tag" method="POST">
                <h4>add new tag</h4>
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="name">
                </div>

                <div class="form-group">
                    <label>Icon:</label>
                    <p class="small">search free icons <a href="https://fontawesome.com/icons?d=gallery&p=2&m=free">here</a>. copy class name (e.g. "fas fa-cat") and paste below.</p>
                    <input class="form-control" type="textarea" name="icon" >
                </div>

                <!-- <div class="form-group">
                    <label>Color:</label>
                    <input class="form-control" type="textarea" name="color">
                </div> -->
                <input type="hidden" value="{{user.user_id}}" name="user_id">

                <input class="form-control btn btn-primary" type="submit">
            </form>

        </div>
    </div>

    {% else %}
    <p>please <a href="/log_in">log in</a> to access this page.</p>
    {% endif %}
</div>


{% endblock %}